.page {
    background-color: #282C34;
}

.examples__heading {
    padding-top: 250px;
    color: #7DA5BF;
    text-align: center;
    text-indent: 30px;
}

.examples__list {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    list-style: none;
    max-width: 400px;
}

.examples__item {
    padding-top: 30px;
}

.examples__link {
    display: block;
    color: #D19A66;
    font-size: 20px;
    text-align: center;
}

.examples__description {
    color: #7DA5BF;
    font-size: 16px;
    text-align: center;
}
