.page {
  background-color: #282c34;
}

.examples__heading {
  padding-top: 25vh;
  color: #7da5bf;
  text-align: center;
  text-indent: 30px;
}

.examples__list {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  list-style: none;
  max-width: 400px;
}

.examples__item {
  padding-top: 30px;
  background-color: #98c379;
  border-radius: 0 15px 0 15px;
}

.examples__link {
  display: block;
  color: #d19a66;
  font-size: 20px;
  text-align: center;
}

.examples__description {
  color: #7da5bf;
  font-size: 16px;
  text-align: center;
}
